{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="login_container">
    <div class="login_text" style="font-weight: bold;">
      <h1>Sign in</h1>
    </div>
    <div class="login_form">
      <form action="/auth/login" method="post">
        <div class="login_item">
          <input type="text" name="id" placeholder=" id" />
        </div>
        <div class = "login_item">
          <input type="password" name="password" placeholder=" password" />
        </div>
        <br />
        <div class="login_item_button" style="text-align: center;">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>
  <div class="overlay_container">
    <div class="overlay">
      <div class="overlay_item">
        <h1>Would you like to join us?<h1>
      </div>
      <div class="overlay_item">
        <span>
          Join our site and enjoy the beautiful image
          You can also post your own artwork
        </span>
      </div>
      <br />
      <br />
      <div class="overlay_item">
        <a href="/auth/join" style="text-decoration: none; color: white;">Sign In</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}